
/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&family=Noto+Serif+KR:wght@300;400;700;900&display=swap');
@import url("https://use.typekit.net/wqa5hmi.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;

*/

/* COMMON */
#fp-nav ul li a span{
    background: #FFC000;
    opacity: 0.4;
}
html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    color: #303030;
    overflow-y: hidden;
}

/* NAV */
nav,.navbar-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: #303030;
}

.nav-hide { display: none; }

nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
}

nav ul li { list-style: none; }

nav ul li a {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    cursor: pointer;
}
nav ul li a:hover {
    color: #1fafff;
}

nav img {
    width: 150px;
    margin-top: 40vh;
    cursor: pointer;
}

.navbar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 100%;
    height: 5px;
    margin-bottom: 8px;
    background-color: #FFCA22;
    transition: all 0.3s ease-in-out;
}

.navbar-on .bar1, .navbar-on .bar2, .navbar-on .bar3 { background-color: #1fafff; }

.navbar-on .bar1 {
    transform-origin: 10% 40%;
    transform: rotate(45deg);
}

.navbar-on .bar3 {
    transform-origin: 10% 40%;
    transform: rotate(-45deg);
}

.navbar-on .bar2 { background-color: transparent; }


.btn-area {
    display: flex;
    justify-content: center;
}
.scroll-btn {
    animation: blink 4s linear infinite;
    position: fixed;
    width: 100px;
    bottom: 20px;
    z-index: 2000;
    text-align: center;
}
.totop-btn {
    animation: blink 4s linear infinite;
    position: absolute;
    width: 100px;
    bottom: 20px;
    z-index: 2000;
    text-align: center;
    display: none;
}
.btn-svg img {
    width: 60px;
}
.btn-text p {
    color: #aaaaaa;
    font-size: 0.6rem;
    margin-top: -10px;
}
.btn-text2 p {
    color: #1fafff;
    font-size: 0.6rem;
    margin-top: -10px;
}
@keyframes blink{
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
}
@keyframes blink2{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

/* easter egg */
.easter-egg {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    background-color: rgba(94, 157, 230, 0.3);
    animation: blink 2s linear infinite;
}

/* click button */
@keyframes clickthis {
    0% {opacity: 0.2;}
    50% {opacity: 0.7;}
    100% {opacity: 0.2;}
}
.click-this {
    position: absolute;
    margin: 100px;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #1fafff;
    animation: clickthis 2s linear infinite;
}
.proto-click {
    position: absolute;
    margin: 100px;
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #1fafff;
    animation: clickthis 2s linear infinite;
}
.click-this p {
    font-size: 0.6rem;
    color: #fff;
}
.proto-click p {
    font-size: 0.6rem;
    color: #fff;
}
.b1 {
    display: none;
}
.b2 {
    display: none;
    margin-left: 190px;
    margin-top: 420px;
}
.b3 {
    display: none;
    margin-left: 430px;
    margin-top: 150px;
}
.b4 {
    display: none;
    margin-top: 3px;
    margin-left: 160px;
    z-index: 0;
}
.b5 {
    display: none;
    margin-left: 200px;
}
.b6 {
    display: none;
    margin-left: 1000px;
}
.b7 {
    display: none;
}
.b8 {
    display: none;
    margin-left: 1000px;
}
.b9 {
    z-index: 3000;
    margin-top: 470px;
    margin-left: 230px;
}
.b10 {
    display: none;
    z-index: 3000;
    margin-top: 230px;
    margin-left: 170px;
}
.b11 {
    display: none;
    z-index: 3000;
    margin-top: 190px;
    margin-left: 240px;
}
.b12 {
    display: none;
    z-index: 3000;
    margin-top: 74px;
    margin-left: 200px;
}
.b13 {
    display: none;
    z-index: 3000;
    margin-top: 42px;
    margin-left: 30px;
}
.b14 {
    z-index: 3000;
    margin-top: 452px;
    margin-left: 180px;
}
.b15 {
    display: none;
    z-index: 3000;
    background-color: #fff;
    margin-top: 512px;
    margin-left: 130px;
}
.b15 p {
    color: #1fafff;
}
.b16 {
    display: none;
    z-index: 3000;
    margin-top: 230px;
    margin-left: 170px;
}
.b17 {
    z-index: 3000;
    margin-top: 482px;
    margin-left: 195px;
}
.b18 {
    display: none;
    z-index: 3000;
    margin-top: 42px;
    margin-left: 30px;
}
.b19 {
    z-index: 3000;
    margin-top: 77px;
    margin-left: -466px;
}
.b20 {
    display: none;
    z-index: 3000;
    margin-top: 77px;
    margin-left: -543px;
    background-color: #fff;
}
.b20 p {
    color: #1fafff;
}
.b21 {
    z-index: 3000;
    margin-top: 245px;
    margin-left: 295px;
    background-color: #fff;
}
.b21 p {
    color: #1fafff;
}
.b22 {
    display: none;
    z-index: 3000;
    margin-top: 145px;
    margin-left: 50px;
}
.b23 {
    display: none;
    z-index: 3000;
    margin-top: 650px;
    margin-left: 170px;
    background-color: #fff;
}
.b23 p {
    color: #1fafff;
}
.b24 {
    display: none;
    z-index: 3000;
    margin-top: 46px;
    margin-left: 25px;
}
.b25 {
    z-index: 3000;
    margin-top: 181px;
    margin-left: 300px;
}
.b26 {
    display: none;
    z-index: 3000;
    margin-top: 126px;
    margin-left: 125px;
}
.b27 {
    display: none;
    z-index: 3000;
    margin-top: 256px;
    margin-left: 195px;
}
.b28 {
    display: none;
    z-index: 3000;
    margin-top: 46px;
    margin-left: 25px;
}

/* SECTION0 - 커버 비디오 */
.s0 {
    text-align: center;
    overflow: hidden;
}
.s0 .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 65%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.s0 .layer h1 {
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1;
    color: #fff;
    opacity: 0;
    display: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: blink2 2s linear infinite;
}
.s0 .layer img {
    width: 300px;
}
.s0 video::-webkit-media-controls {
    display:none;
}
#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    /* background-image: our video; */
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

/* @media (max-aspect-ratio: 16/9) {
    #cover-bg { width: 300%; left: -100%; }
} */

/* SECTION1 - 메인 비디오 */
.s1 {
    width: 100%;
    height: 100vh;
    text-align: center;
}
.title-container {
    width: 1200px;
    display: none;
    margin: 0 auto;
}
.title-text {
    margin-bottom: 50px;
}
.title-text h3 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    z-index: 100;
    margin-bottom: 20px;
}
.title-text h1 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
    color: #1FAFFF;
    margin-top: -10px;
}
.title-text h1 span {
    font-size: 1.4rem;
    letter-spacing: -1px;
    color: #aaa;
}
.title-video {
    /* padding-bottom: 200px; */
    cursor: url(../images/cursor.png), auto;
}
#title-video {
    width: 960px;
}
.video-text h3 {
    font-size: 0.8rem;
    margin-bottom: 20px;
}


/* SECTION2 - 아트테리어 */
.s2 {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg1.png);
    background-size: cover;
}
.s2-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.artterior {
    display: flex;
    justify-content: space-between;
    /* padding-top: 10vh; */
}
.artterior h2 {
    display: block;
    font-family: 'Noto Serif KR', serif;
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 400;
    width: 400px;
}
.artterior h2 span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #AAA;
    font-weight: 700;
    letter-spacing: 1px;
}
.artterior p {
    width: 736px;
}
.artterior-circle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.artterior-circle-1 {
    display: block;
    opacity: 0;
    background-color: #FFC000;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    text-align: center;
    line-height: 200px;
}
.artterior-circle-2 {
    display: block;
    opacity: 0;
    width: 200px;
    height: 200px;
    border: 2px solid #1FAFFF;
    border-radius: 200px;
    text-align: center;
    line-height: 200px;
    margin: 0;
}
.artterior-circle-line {
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFC000;
}
.artterior-limit {
    opacity: 0;
    margin-top: 100px;
}
.artterior-limit > .limit1 h2 {
    font-size: 1.6rem;
    margin-bottom: 50px;
    color: #1fafff;
}
.limit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1195px;
    height: 150px;
    border: 2px solid #1FAFFF;
    border-radius: 100px;
}
.limit2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.limit2 > .li-circle h2 {
    width: 300px;
    padding-top: 20px;
    height: 60px;
    text-align: center;
    font-size: 1.2rem;
    color: #1FAFFF;
}

/* SECTION3 - 동향조사 */
.s3 {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.s3-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.low1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.chart1 {
    display: flex;
    width: 500px;
}
.chart1-1 {
    opacity: 0;
    width: 300px;
    height: 135px;
    text-align: center;
    color: #1FAFFF;
    margin-right: 30px;
}
.chart1-1 h4 {
    font-size: 1.2rem;
    padding-top: 40px;
    margin-bottom: -20px;
    font-weight: 400;
}
.chart1-1 p {
    font-size: 3.6rem;
    font-weight: 700;
}
.chart1-2 {
    opacity: 0;
    float: right;
    width: 300px;
    text-align: center;
    color: #1FAFFF;
}
.chart1-2 h4 {
    font-size: 1.2rem;
    padding-top: 40px;
    margin-bottom: -20px;
    font-weight: 400;
}
.chart1-2 p {
    font-size: 3.6rem;
    font-weight: 700;
}
.sum1 {
    opacity: 0;
    text-align: left;
}
.sum1 h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 30px;
}
.sum1 p {
    width: 490px;
}
.sum1 p span {
    font-weight: 700;
}
.low2 {
    display: flex;
    justify-content: space-between;
}
.sum2 {
    opacity: 0;
    text-align: right;
}
.sum2 h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 100px;
}
.sum2 p {
    width: 480px;
    margin-bottom: 60px;
}
.sum2 p span {
    font-weight: 700;
}
.chart2 {
    display: flex;
    justify-content: space-between;
}
.chart2-1 {
    opacity: 0;
    margin-right: 20px;
}
.chart2-1 img {
    margin-top: 60px;
}
.chart2 h4 {
    font-size: 0.8rem;
    color: #1FAFFF;
}
.chart2-2 {
    opacity: 0;
    width: 300px;
}
.chart2-2 img {
    margin-top: 40px;
    margin-left: 80px;
}
.source p {
    font-size: 0.7rem;
    color: #aaaaaa;
    font-weight: 300;
}

/* SECTION4 - 청미동 서비스 소개 */
.s4 {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}
.s4-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.service-key h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
}
.service-title h1 {
    font-family: 'Noto Serif KR', serif;
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: 700;
    z-index: 9999;
}
.service-title h1 span {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 900;
    margin-left: 20px;
    color: #1FAFFF;
}
.blueBox {
    display: block;
    position: relative;
    background-color: #1FAFFF;
    width: 0px;
    height: 50px;
    margin-top: -60px;
    z-index: -1;
}
.service-sum {
    margin-top: 20em;
}
.service-sum h4 {
    font-size: 1.4rem;
    font-weight: 700;
}
.service-sum p {
    font-size: 1.2rem;
    width: 600px;
}
.service-sum p span {
    color: #1FAFFF;
    font-weight: 700;
}

/* SECTION5 - 청미동 서비스 기능-구조 */
.s5 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s5-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.service-title-1 h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin-top: -450px;
    margin-bottom: 50px;
}
.service-title-1 span {
    font-weight: 600;
    color: #1FAFFF;
}
.milestone {
    display: flex;
    margin-bottom: 15px;
    cursor: url(../images/cursor.png), auto;
}
.func-btn {
    cursor: pointer;
    margin-right: 20px;
}
.func-btn h3 {
    cursor: pointer;
    font-size: 1.2rem;
    color: #1FAFFF;
}
.const-btn {
    cursor: pointer;
    z-index: 10;
}
.const-btn h3 {
    cursor: pointer;
    font-size: 1.2rem;
    color: #AAA;
}
.func {
    position: absolute;
}
.const {
    position: absolute;
    display: none;
}
.const-chart img {
    opacity: 0;
}
.func1 {
    opacity: 0;
    position: absolute;
    z-index: 8;
    margin-top: 50px;
}
.func2 {
    opacity: 0;
    position: absolute;
    z-index: 6;
    margin-top: 50px;
}
.func3 {
    opacity: 0;
    position: absolute;
    z-index: 4;
    margin-top: 50px;
}
.func-title {
    display: flex;
    margin-bottom: 50px;
}
.func-title h4 {
    margin-right: 50px;
}
.func-title p {
    width: 600px;
}
.const-title {
    display: flex;
    margin-bottom: 50px;
}
.const-title h4 {
    margin-right: 50px;
}
.const-title p {
    width: 600px;
}

/* SECTION6 - 기대효과 */
.s6 {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}
.s6-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.effect-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.effect-title h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 600;
    color: #fff;
}
.effect-change h2 {
    position: absolute;
    opacity: 100;
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    z-index: 100;
    color: #fff;
}
.effect-change2 h2 {
    position: absolute;
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    z-index: 1;
    color: #fff;
}
.effect-circle1 {
    opacity: 0;
    width: 440px;
    height: 440px;
    border: 2px solid #1FAFFF;
    border-radius: 440px;
    text-align: center;
}
.effect-circle1 h1 {
    padding-top: 140px;
    color: #1FAFFF;
}
.effect-circle1 p {
    color: #fff;
}
.effect-circle2 {
    opacity: 0;
    position: relative;
    width: 440px;
    height: 440px;
    border: 2px solid #1FAFFF;
    background-color: #1FAFFF;
    border-radius: 440px;
    text-align: center;
    margin-top: -100px;
}
.effect-circle2 h1 {
    padding-top: 140px;
    color: #fff;
}
.effect-circle2 p {
    color: #fff;
}

/* SECTION7 - 디자인 전략 */
.s7 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s7-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.design-title h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 100px;
}
.design-key {
    opacity: 0;
    margin-bottom: 50px;
}
.key-sum {
    width: 550px;
    opacity: 0;
}
.key-sum h2 {
    font-size: 1.2rem;
}
.key-graphic {
    display: flex;
    width: 1200px;
    height: 500px;
}
.key1, .key2, .key3 {
    opacity: 0;
    width: 380px;
    text-align: center;
}
.key1-bg {
    background-image: url(../images/key1.jpg);
    width: 380px;
    height: 500px;
    display: flex;
    align-items: center;
    opacity: 0;
}
.key2-bg {
    background-image: url(../images/key2.jpg);
    width: 380px;
    height: 500px;
    display: flex;
    align-items: center;
    opacity: 0;
}
.key3-bg {
    background-image: url(../images/key3.jpg);
    width: 380px;
    height: 500px;
    display: flex;
    align-items: center;
    opacity: 0;
}
.key1 h2 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
    color: #1FAFFF;
}
.key2 h2 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
    color: #FFC000;
}
.key3 h2 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
    color: #000000;
}
.key1 p {
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #1FAFFF;
    margin-top: -10px;
    padding-bottom: 50px;
    border-bottom: 4px solid #1FAFFF;
}
.key2 p {
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFC000;
    margin-top: -10px;
    padding-bottom: 50px;
    border-bottom: 4px solid #FFC000;
}
.key3 p {
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #000000;
    margin-top: -10px;
    padding-bottom: 50px;
    border-bottom: 4px solid #000000;
}


/* SECTION8 - 컬러 / 타이포 */
.s8 {
    width: 100%;
    height: 100vh;
}
.s8-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.design-type {
    opacity: 100;
}
.design-color {
    opacity: 100;
    padding-top: 24vh;
    margin-top: 80px;
    z-index: 9999;
    color: #fff;
}
.type-sum {
    opacity: 0;
    width: 550px;
    margin-bottom: 80px;
}
.type-sum h2 {
    font-size: 1.2rem;
}
.color-sum {
    position: relative;
    width: 550px;
    margin-bottom: 80px;
    z-index: 9999;
}
.color-sum h2 {
    font-size: 1.2rem;
    z-index: 9999;
}
.type-graphic {
    display: flex;
    width: 1200px;
    height: 250px;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 1.5;
}
.type1 h1 {
    opacity: 0;
    font-weight: 900;
    font-size: 2.3rem;
}
.type1 h2 {
    opacity: 0;
    font-weight: 700;
    font-size: 2.3rem;
}
.type1 h3 {
    opacity: 0;
    font-weight: 400;
    font-size: 2.3rem;
}
.type1 h4 {
    opacity: 0;
    font-weight: 300;
    font-size: 2.3rem;
}
.type2 h1 {
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
    font-weight: 900;
    font-size: 2.3rem;
}
.type2 h2 {
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    font-size: 2.3rem;
}
.type2 h3 {
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    font-size: 2.3rem;
}
.type2 h4 {
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
    font-size: 2.3rem;
}
.color-graphic {
    position: absolute;
    /* mix-blend-mode: color; */
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 50vh;
    z-index: 1;
}
.type1, .type2 {
    color: #1FAFFF;
}
.blue {
    background-color: #1FAFFF;
    width: 0px;
    height: 50vh;
    display: flex;
    z-index: 1;
}
.yellow {
    background-color: #FFC000;
    width: 0px;
    height: 50vh;
    display: flex;
    z-index: 1;
}
.color-title {
    opacity: 0;
    width: 50px;
    text-align: right;
    margin-right: 20px;
    line-height: 0.7;
    padding-top: 42vh;
    mix-blend-mode: overlay;
}
.color-title h4 {
    font-size: 0.7rem;
}
.color-value h4 {
    font-size: 0.7rem;
}
.value-box {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    /* float: right; */
}
.color-value {
    opacity: 0;
    width: 80px;
    text-align: left;
    line-height: 0.7;
    padding-top: 42vh;
    mix-blend-mode: overlay;
}

/* SECTION9 - 로고 */
.s9 {
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    background-image: url(../images/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.s9-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}

/* CHANGE */
.change-wrap {
    position: absolute;
    width: 1200px;
    height: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-change {
    /* position: absolute; */
    /* width: 1200px; */
    /* margin: 0 auto; */
}
.lc-low1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.lc-low2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.change1, .change2, .change3, .change4 {
    background-color: #1fafff;
    width: 10em;
    height: 10em;
    margin: 20em;
}

/* 로고 perspective */
.circle {
    width: 150px;
    height: 150px;
    /* border: 1px solid #000; */
    position: absolute;
    /* border-radius: 15px; */
}
.thumb {
    background-image: url(../images/logoblue.png);
}
.perspective {
    width: 100%;
    perspective: 1000px;
}
.hoverlogo {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    /* align-items: center; */
    padding-top: 15em;
    justify-content: center;
    margin: auto;
    margin-left: -15em;
    /* z-index: 9999; */
}
.hoverlogo h1 {
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1;
    color: #1fafff;
    /* opacity: 0;
    display: none; */
    text-shadow: 0px 0px 10px #fff;
    animation: blink2 2s linear infinite;
}
.clickstamp {
    opacity: 0;
    position: absolute;
    right: 30em;
    top: 40em;
    /* z-index: 9999; */
}
.clickstamp h1 {
    font-family: 'Noto Serif KR', serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1;
    color: #FFCA22;
    /* opacity: 0;
    display: none; */
    text-shadow: 0px 0px 10px #fff;
    animation: blink2 2s linear infinite;
}
#top {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: -15em;
}
.card {
    width: 30em;
    height: 30em;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform .05s linear;
}
.card .thumb {
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.card .thumb:after {
    background: inherit;
    content: '';
    display: block;
    position: absolute;
    left: -60px;
    top: 40px;
    width: 100%;
    height: 108%;
    z-index: -1;
    filter: blur(55px);
}
.card h2 {
    position: absolute;
    top: 0;
    left: -60px;
    font-size: 40px;
    font-weight: 100;
    transform: translateZ(80px);
}
.card span {
    position: absolute;
    bottom: 40px;
    right: -280px;
    font-size: 37px;
    font-weight: 600;
    transform: translateZ(35px);
}

.design-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logo-sum {
    opacity: 0;
    width: 550px;
    margin-left: 40em;
    position: relative;
}
.logo-sum h2 {
    font-size: 1.2rem;
}
.logo-graphic {
    display: flex;
    width: 550px;
    height: 220px;
    margin-top: -40px;
    align-items: center;
    justify-content: space-between;
}
.logo-line {
    display: block;
    width: 0;
    height: 2px;
    margin-left: -20px;
    background-color: #1FAFFF;
}
.logo1 img {
    opacity: 0;
    margin-right: 20px;
}
.logo2 img {
    opacity: 0;
    margin-right: 20px;
}

/* SECTION10 - 서비스: 매칭과 프로젝트 관리 */
.s10 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s10-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: none;
}
.s10-flexwrap {
    display: flex;
    justify-content: center;
}
.blue-line {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1FAFFF;
    width: 0;
    height: 40vh;
}
.app1-l1 {
    display: block;
    width: 650px;
    z-index: 100;
}
.app1-sum h2 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -30px;
    margin-top: 50px;
}
.app1-sum h3 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.app1-sum p {
    color: #fff;
    margin-bottom: 60px;
    width: 500px;
}
.app1-l2 {
    margin-top: 180px;
    width: 450px;
    z-index: 100;
}
.app1-i img {
    opacity: 0;
    width: 400px;
    margin-left: -22px;
}
.proto {
    opacity: 0;
    margin-left: 142px;
}
.frame img {
    position: absolute;
    width: 390px;
    margin-top: 0.5px;
}
.proto-1-1 img {
    opacity: 100;
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    width: 390px;
    /* margin-top: -200px; */
    z-index: 10;
}
.proto-1-2 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 8;
}
.proto-1-3 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 6;
}
.proto-1-4 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 4;
}
.proto-1-5 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 2;
}
/* .app1-sum {
    display: flex;
    padding-top: 100px;
}
.app1-sum h2 {
    width: 260px;
    font-size: 1.4rem;
    color: #1FAFFF;
}
.app1-sum p {
    width: 480px;
    font-size: 1rem;
}
.app1-sum p span {
    color: #FFC000;
    font-weight: 600;
}
.app1-num {
    position: absolute;
    top: 50px;
    right: 18vw;
    font-family: 'Poppins', sans-serif;
    color: #1FAFFF;
    font-size: 5rem;
    opacity: 0.2;
}
.app1-images {
    display: flex;
    margin-top: 50px;
} */

/* .app1-i1 img {
    opacity: 0;
    width: 360px;
    margin-left: 400px;
    margin-top: 80px;
}
.app1-i2 img {
    opacity: 0;
    width: 360px;
    margin-top: 160px;
}
.app1-i3 img {
    opacity: 0;
    width: 360px;
    margin-top: 80px;
} */

/* SECTION11 - 서비스: 펀딩 */
.s11 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s11-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: none;
}
.s11-flexwrap {
    display: flex;
    justify-content: center;
}
.blue-line2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1FAFFF;
    width: 0;
    height: 100vh;
}
.white-line {
    position: absolute;
    top: 40%;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 30vh;
}
.app2-l1 {
    display: block;
    width: 600px;
    z-index: 100;
}
.app2-l2 {
    display: block;
    width: 600px;
    z-index: 100;
}

/* 프로토타입 */
.proto2-1 {
    margin-top: 50px;
    opacity: 0;
}
.app2-sum1 {
    margin-top: 840px;
    display: flex;
    opacity: 0;
}
.app2-sum-h h2 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -30px;
    margin-top: -20px;
}
.app2-sum-h h3 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.app2-sum-p p {
    color: #fff;
    margin-left: 50px;
    margin-bottom: 60px;
    width: 350px;
}
.app2-sum2 {
    color: #fff;
    float: right;
    text-align: right;
    opacity: 0;
}
.app2-sum2 h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -30px;
    margin-top: 50px;
}
.app2-sum2 h3 {
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.app2-sum2 p {
    margin-bottom: 25px;
    width: 500px;
}
.proto2-2 {
    clear: both;
    opacity: 0;
    margin-left: 240px;
}
.frame2-2 img {
    position: absolute;
    width: 390px;
    margin-top: 0.5px;
}
.frame2 img {
    position: absolute;
    width: 390px;
    margin-top: 0.5px;
}
.proto-2-1 img {
    opacity: 100;
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    width: 390px;
    /* margin-top: -200px; */
    z-index: 10;
}
.proto-2-2 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 8;
}
.proto-2-3 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 6;
}
.proto-2-4 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 100;
    width: 390px;
    z-index: 8;
}
.proto-2-5 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 6;
}

/* SECTION12 - 서비스: 제안하기 */
.s12 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s12-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: none;
}
.s12-flexwrap {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.app3-i img {
    opacity: 100;
    width: 400px;
    margin-top: 34px;
    margin-left: 220px;
}
.if img {
    position: absolute;
    opacity: 0;
    cursor: url(../images/cursor.png), auto;
    z-index: 8;
}
.is img {
    position: absolute;
    opacity: 0;
    z-index: 6;
}
.ib img {
    position: absolute;
    opacity: 0;
    z-index: 4;
}
.app3-sum {
    opacity: 0;
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    bottom: 100px;
    text-align: center;
    z-index: 100;
}
.app3-sum h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -30px;
    color: #1FAFFF;
}
.app3-sum h3 {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: #1FAFFF;
}
.app3-sum p {
    margin-bottom: 25px;
}
.frame3 img {
    position: absolute;
    width: 390px;
    margin-left: -600px;
    margin-top: 0.5px;
}
.proto3 {
    margin-top: 50px;
    opacity: 0;
}
.proto-3-1 img {
    opacity: 100;
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    width: 390px;
    margin-left: -600px;
    z-index: 10;
}
.proto-3-2 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    margin-left: -600px;
    z-index: 8;
}
/* .app3-num {
    position: absolute;
    bottom: 0px;
    right: 18vw;
    margin-bottom: -52px;
    font-family: 'Poppins', sans-serif;
    color: #1FAFFF;
    font-size: 5rem;
    opacity: 0.2;
}
.app3-images {
    display: flex;
    padding-top: 100px;
}
.app3-i1 img {
    width: 360px;
    margin-top: 80px;
    margin-left: -200px;
}
.app3-i2 img {
    width: 360px;
    margin-top: 160px;
}
.app3-i3 img {
    width: 360px;
    margin-top: 80px;
    margin-right: 180px;
} */

/* SECTION13 - 커뮤니티 */
.s13 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s13-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: none;
}
.s13-flexwrap {
    display: flex;
    justify-content: center;
}
.blue-line3 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1FAFFF;
    width: 0;
    height: 60vh;
}
.app4-l1 {
    display: block;
    width: 650px;
    z-index: 100;
}
.app4-sum {
    opacity: 0;
}
.app4-sum h2 {
    color: #1fafff;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -30px;
    margin-top: 50px;
}
.app4-sum h3 {
    color: #1fafff;
    font-size: 1.4rem;
    margin-bottom: 30px;
}
.app4-sum p {
    color: #303030;
    margin-bottom: 60px;
    width: 500px;
}
.app4-l2 {
    margin-top: 180px;
    width: 450px;
    z-index: 100;
}
.app4-i img {
    opacity: 0;
    width: 400px;
    margin-left: -22px;
}
.proto4 {
    opacity: 0;
    margin-left: 142px;
}
.frame4 img {
    position: absolute;
    width: 390px;
    margin-top: 0.5px;
}
.proto-4-1 img {
    opacity: 100;
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    width: 390px;
    /* margin-top: -200px; */
    z-index: 10;
}
.proto-4-2 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 8;
}
.proto-4-3 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 6;
}
.proto-4-4 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 4;
}

/* SECTION14 - 마이페이지 */
.s14 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.s14-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: none;
}
.s14-flexwrap {
    display: flex;
    justify-content: center;
}
/* .blue-line4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1FAFFF;
    width: 0;
    height: 60vh;
} */
.app5-l2 {
    display: block;
    width: 650px;
    z-index: 100;
}
.app5-sum {
    opacity: 0;
    clear: both;
    text-align: right;
    margin-top: 820px;
    margin-right: -20px;
}
.app5-sum h2 {
    color: #1fafff;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: -30px;
    margin-top: 20px;
    text-align: right;
}
.app5-sum h3 {
    color: #1fafff;
    font-size: 1.4rem;
    margin-bottom: 30px;
    text-align: right;
}
.app5-sum p {
    color: #303030;
    text-align: right;
}
.app5-l1 {
    margin-top: 180px;
    width: 450px;
    z-index: 100;
}
.app5-i img {
    margin-top: 20px;
    position: absolute;
    float: right;
    padding-left: 300px;
}
.app5-4 {
    width: 400px;
    padding-top: 480px;
    margin-left: -125px;
    opacity: 0;
}
.app5-3 {
    width: 400px;
    padding-top: 380px;
    margin-left: 115px;
    opacity: 0;
}
.app5-2 {
    width: 300px;
    margin-left: 50px;
    padding-top: 210px;
    opacity: 0;
}
.app5-1 {
    opacity: 0;
    width: 400px;
}
.proto5 {
    opacity: 0;
    margin-left: 0;
}
.frame5 img {
    position: absolute;
    width: 390px;
    margin-top: 0.5px;
}
.proto-5-1 img {
    opacity: 100;
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    width: 390px;
    /* margin-top: -200px; */
    z-index: 8;
}
.proto-5-2 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 7;
}
.proto-5-3 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 6;
}
.proto-5-4 img {
    position: absolute;
    cursor: url(../images/cursor.png), auto;
    opacity: 0;
    width: 390px;
    z-index: 5;
}

/* SECTION15 - 목업 1 */
/* SECTION16 - 목업 2 */
/* SECTION17 - 목업 3 */

/* SECTION18 - 클로징 */
.s15 {
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-color: #1fafff;
}
.s15-container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: none;
}
.s15 {
    text-align: center;
    overflow: hidden;
}
.proto-layer {
    position: absolute;
    /* background-color: #000000; */
    border-radius: 220px;
    border: solid 2px #fff;
    z-index: 4;
    width: 200px;
    height: 80px;
    line-height: 80px;
    left: 11em;
    bottom: 20%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    cursor: pointer;
}
.proto-layer h1 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;
}
.s15 video::-webkit-media-controls {
    display:none;
}
#lastVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    /* background-image: our video; */
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}
/* SECTION19 - 팀원소개 */
.s16 {
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-color: #fff;
}
.s16-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
}
.thanks h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
}
.profile-wrap {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.kimhaeun, .kimhyunmin, .choisuyoung, .hwanginkeom, .kimyujeong {
    width: 220px;
    text-align: center;
    
}
.p-pic img {
    width: 220px;
}
.p-title h4 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}
.p-title h2 {
    font-family: 'Noto Serif KR', serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: -5px;
}
.p-title p {
    font-weight: 300;
    font-size: 0.8rem;
    color: #aaaaaa;
    line-height: 1.4;
}
.p-circle {
    width: 220px;
    height: 220px;
    border-radius: 220px;
    border: solid 2px #1fafff;
    margin-top: 35px;
}
.p-circle p {
    color: #1fafff;
    line-height: 220px;
    font-weight: 600;
}

/* SECTION20 - 출처 표기 */
.s17 {
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-image: url(../images/bg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.s17-container {
    width: 1200px;
    margin: 0 auto;
    display: none;
    line-height: 1.2;
}
.source-wrap {
    width: 1200px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.source-wrap a {
    color: #aaaaaa;
    font-weight: 400;
}
.source-wrap a:hover {
    color: #1fafff;
}
.is-1 a {
    cursor: pointer;
    font-size: 0.7rem;
    margin-right: 100px;
    margin-left: 10px;
}
.is-2 a {
    cursor: pointer;
    font-size: 0.7rem;
}
.source-video a {
    cursor: pointer;
    font-size: 0.7rem;
    margin-left: 10px;
}
.source-music a {
    cursor: pointer;
    font-size: 0.7rem;
    margin-left: 10px;
}
.source-wrap {
    display: flex;
}
.source-title {
    width: 700px;
    height: 200px;
    background-image: url(../images/s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.source-title h3 {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.4rem;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 200px;
    padding-left: 50px;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.source-title2 {
    width: 500px;
    height: 200px;
    background-image: url(../images/s2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.source-title2 h3 {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.4rem;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 200px;
    padding-left: 50px;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.source-title3 {
    width: 500px;
    height: 127px;
    background-image: url(../images/s3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.source-title3 h3 {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.4rem;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 127px;
    padding-left: 50px;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.source-video {
    width: 500px;
    background-color: rgb(247, 247, 247);
    padding: 10px 0;
}
.source-music {
    width: 500px;
    background-color: rgb(247, 247, 247);
    padding: 10px 0;
}
.source-image {
    display: flex;
    width: 700px;
    background-color: rgb(247, 247, 247);
    padding: 10px 0;
}

/* 반응형 */
/* 768 to 1540 LAPTOP */
@media (min-width: 768px) and (max-width: 1540px) {
    html {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 14px;
        overflow-x: hidden;
        color: #303030;
        overflow-y: hidden;
    }
    /* 프로토타입 버튼 탑 -50 레프트 -20 */ 
    .b9 {
        margin-top: 420px;
        margin-left: 210px;
    }
    .b10 {
        margin-top: 180px;
        margin-left: 150px;
    }
    .b11 {
        margin-top: 170px;
        margin-left: 220px;
    }
    .b12 {
        margin-top: 64px;
        margin-left: 180px;
    }
    .b13 {
        margin-top: 39px;
        margin-left: 20px;
    }
    .b14 {
        margin-top: 402px;
        margin-left: 160px;
    }
    .b15 {
        margin-top: 458px;
        margin-left: 110px;
    }
    .b16 {
        margin-top: 180px;
        margin-left: 150px;
    }
    .b17 {
        margin-top: 432px;
        margin-left: 175px;
    }
    .b18 {
        margin-top: 38px;
        margin-left: 22px;
    }
    .b19 {
        margin-top: 17px;
        margin-left: -482px;
    }
    .b20 {
        margin-top: -11px;
        margin-left: -578px;
    }
    .b21 {
        margin-top: 210px;
        margin-left: 265px;
    }
    .b22 {
        margin-top: 131px;
        margin-left: 40px;
    }
    .b23 {
        margin-top: 582px;
        margin-left: 150px;
    }
    .b24 {
        margin-top: 39px;
        margin-left: 20px;
    }
    .b25 {
        margin-top: 160px;
        margin-left: 260px;
    }
    .b26 {
        display: none;
        z-index: 3000;
        margin-top: 111px;
        margin-left: 125px;
    }
    .b27 {
        display: none;
        z-index: 3000;
        margin-top: 228px;
        margin-left: 175px;
    }
    .b28 {
        display: none;
        z-index: 3000;
        margin-top: 38px;
        margin-left: 22px;
    }
    
    /* SECTION1 - 메인 비디오 */
    #title-video {
        width: 840px;
    }
    /* SECTION2 - 아트테리어 */
    .s2-container {
        padding: 50px 0;
    }
    .artterior-circle {
        margin-top: 50px;
    }
    .artterior-limit {
        margin-top: 50px;
    }
    .artterior-limit > .limit1 h2 {
        margin-bottom: 10px;
    }
    .limit-container {
        width: 900px;
        float: right;
    }
    /* SECTION3 - 동향조사 */
    .sum1 p {
        width: 450px;
    }
    .sum2 p {
        width: 600px;
    }
    .chart2-1 img {
        width: 334px;
    }
    .chart2-2 {
        width: 210px;
    }
    .chart2-2 img {
        width: 120px;
    }
    /* SECTION4 - 청미동 서비스 소개 */
    .s4-container {
        width: 1200px;
        height: 80vh;
    }
    .service-title h1 span {
        margin-left: 60px;
    }
    .service-sum {
        margin-top: 20em;
    }
    .service-sum p {
        width: 460px;
    }
    /* SECTION5 - 청미동 서비스 기능-구조 */
    .service-title-1 h2 {
        margin-top: -300px;
        margin-bottom: 50px;
    }
    .func-chart img {
        width: 900px;
        margin-left: 150px;
        margin-top: -30px;
    }
    .const-chart img {
        width: 900px;
        margin-left: 120px;
    }
    .func-title p {
        width: 550px;
    }
    .const-title p {
        width: 550px;
    }
    .const-title {
        margin-bottom: 10px;
    }
    
    /* SECTION6 - 청미동 기대효과 */
    .effect-circle1 {
        width: 350px;
        height: 350px;
        margin-right: 100px;
    }
    .effect-circle1 h1 {
        padding-top: 110px;
    }
    .effect-circle2 {
        width: 350px;
        height: 350px;
        margin-right: 100px;
    }
    .effect-circle2 h1 {
        padding-top: 110px;
    }
    .b5 {
        display: none;
        margin-left: 165px;
    }
    /* SECTION7 - 디자인 프로세스 */
    .s7-container {
        height: 80vh;
    }
    .design-title h2 {
        margin-bottom: 20px;
    }
    .key-graphic {
        height: 400px;
    }
    .key1-bg, .key2-bg, .key3-bg {
        height: 400px;
        background-position: center;
    }
    .design-key {
        opacity: 0;
        margin-bottom: 20px;
    }
    /* SECTION8 - 컬러 / 타이포 */
    .design-type {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .type1 h1 {
        font-size: 2rem;
    }
    .type1 h2 {
        font-size: 2rem;
    }
    .type1 h3 {
        font-size: 2rem;
    }
    .type1 h4 {
        font-size: 2rem;
    }
    .type2 h1 {
        font-size: 2rem;
    }
    .type2 h2 {
        font-size: 2rem;
    }
    .type2 h3 {
        font-size: 2rem;
    }
    .type2 h4 {
        font-size: 2rem;
    }
    .type2 {
        margin-right: 40px;
    }

    /* SECTION9 - 로고 */
    .change-wrap {
        width: 800px;
        height: 800px;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
    #top {
        margin-left: -25em;
    }
    .hoverlogo {
        margin-left: -25em;
        padding-top: 8em;
    }
    .clickstamp {
        top: 35em;
        right: 33em;
    }

    /* SECTION10 - 서비스: 매칭과 프로젝트 관리 */
    .blue-line {
        height: 33vh;
    }
    .proto {
        margin-top: -150px;
    }
    .app1-i img {
        opacity: 0;
        width: 350px;
        margin-left: -28px;
        margin-top: -50px;
    }
    .proto img {
        width: 350px;
    }

    /* SECTION11 - 서비스: 펀딩 */
    .app2-l1 {
        display: flex;
    }
    .app2-l2 {
        display: flex;
        flex-flow: column-reverse;
    }
    .app2-sum1 {
        margin-top: 70px;
        margin-left: 345px;
        display: block;
        opacity: 0;
    }
    .app2-sum-p p {
        margin-left: 0px;
    }
    .proto2-1 {
        margin-top: 20px;
    }
    .proto2-2 {
        margin-top: 20px;
    }
    .app2-sum2 p {
        float: right;
    }
    .app2-sum2 {
        margin-top: 420px;
        margin-right: 370px;
    }
    .app2-sum2 h3 {
        width: 200px;
        float: right;
    }
    .app3-sum {
    opacity: 0;
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    bottom: 50px;
    text-align: center;
    }
    .app3-sum h2 {
        margin-bottom: -20px;
    }
    .app2-sum2 h2 {
        margin-bottom: -20px;
    }
    .app2-sum1 h2 {
        margin-bottom: -20px;
    }
    .app1-sum h2 {
        margin-bottom: -20px;
    }
    .proto2-1 img {
        width: 350px;
    }
    .proto2-2 img {
        width: 350px;
    }

    /* SECTION12 - 서비스: 제안하기 */
    .app3-i img {
        margin-top: 0;
        width: 350px;
    }
    .proto3 img {
        margin-top: -50px;
        width: 350px;
    }

    /* SECTION13 - 커뮤니티 */
    .blue-line3 {
        height: 71vh;
    }
    .app4-sum h2 {
        margin-bottom: -20px;
        margin-top: 25px;
    }
    .app4-i img {
        width: 350px;
        margin-top: -50px;
    }
    .proto4 {
        margin-top: -150px;
    }
    .proto4 img {
        width: 350px;
    }

    /* SECTION14 - 마이페이지 */
    .app5-1 {
        width: 350px;
        z-index: 10;
    }
    .app5-2 {
        width: 280px;
        margin-left: 35px;
        padding-top: 180px;
        z-index: 12;
    }
    .app5-3 {
        width: 380px;
        padding-top: 340px;
        margin-left: 115px;
        z-index: 12;
    }
    .app5-4 {
        width: 380px;
        padding-top: 440px;
        margin-left: -125px;
        opacity: 0;
        z-index: 12;
    }
    .proto5 {
        margin-top: -170px;
    }
    .proto5 img {
        width: 350px;
    }
    .app5-sum {
        z-index: 1;
        width: 430px;
        opacity: 0;
        clear: both;
        text-align: center;
        margin-top: 100px;
        margin-left: -121px;
    }
    .app5-sum h2 {
        margin-bottom: -20px;
        margin-top: 20px;
        text-align: center;
    }
    .app5-sum h3 {
        text-align: center;
    }
    .app5-sum p {
        text-align: center;
    }
    /* 클로징 */
    .proto-layer {
        position: absolute;
        /* background-color: #000000; */
        border-radius: 220px;
        border: solid 2px #fff;
        z-index: 4;
        width: 160px;
        height: 60px;
        line-height: 60px;
        left: 11em;
        bottom: 18%;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .proto-layer h1 {
        font-family: 'Noto Serif KR', serif;
        font-weight: 400;
        font-size: 0.9rem;
        color: #fff;
    }
    /* 출처 표기 */
    .source-wrap a {
        color: #aaaaaa;
        font-weight: 400;
        font-size: 0.8rem;
    }
} 
/* 768 to 1024 TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    
}
/* 0 to 767px MOBILE */
@media (max-width: 768px) {
    
} 
    